/* line 5, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes hover-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@-webkit-keyframes hover-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes hover-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@-moz-keyframes hover-fade-out {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hover-fade-out {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hover-fade-out {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes drop-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes drop-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes color-shift {
  0% {
    background-color: #49b0c6;
  }
  50% {
    background-color: #49c6ad;
  }
  100% {
    background-color: #49b7c6;
  }
}
@-webkit-keyframes color-shift {
  0% {
    background-color: #49b0c6;
  }
  50% {
    background-color: #49c6ad;
  }
  100% {
    background-color: #49b7c6;
  }
}
@keyframes color-shift {
  0% {
    background-color: #49b0c6;
  }
  50% {
    background-color: #49c6ad;
  }
  100% {
    background-color: #49b7c6;
  }
}
/* line 109, ../sass/screen.scss */
body {
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  color: #818181;
  font-weight: 300;
}

/* line 116, ../sass/screen.scss */
ul, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  list-style-type: none;
}

/* line 121, ../sass/screen.scss */
.btn {
  cursor: pointer;
  position: absolute;
}

/* line 126, ../sass/screen.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 130, ../sass/screen.scss */
a {
  color: #fff;
}

/* line 134, ../sass/screen.scss */
p {
  text-transform: none;
  font-size: 14px;
  line-height: 20px;
}

/* line 142, ../sass/screen.scss */
.header {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
/* line 151, ../sass/screen.scss */
.header a {
  color: inherit;
}
/* line 155, ../sass/screen.scss */
.header.nav-change-color {
  color: #585858;
}
/* line 158, ../sass/screen.scss */
.header.nav-change-color .nav-toggle {
  background: url("../imgs/nav-btn-dark.png") no-repeat;
}
/* line 163, ../sass/screen.scss */
.header h1, .header h2, .header .nav-toggle {
  position: absolute;
  top: 25px;
}
/* line 168, ../sass/screen.scss */
.header h1, .header h2 {
  font-weight: 500;
  left: 25px;
}
/* line 173, ../sass/screen.scss */
.header h2 {
  top: 45px;
  font-size: 11.5px;
}
/* line 178, ../sass/screen.scss */
.header .nav-toggle {
  background: url("../imgs/nav-btn.png") no-repeat;
  width: 20px;
  height: 11px;
  right: 25px;
}
/* line 186, ../sass/screen.scss */
.proj-toggled .header {
  color: #818181;
}
/* line 190, ../sass/screen.scss */
.header.on-portfolio {
  color: #585858;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 195, ../sass/screen.scss */
.header.on-portfolio .nav-toggle {
  background: url("../imgs/nav-btn-dark.png") no-repeat;
}

/* line 202, ../sass/screen.scss */
.main-nav-c {
  pointer-events: none;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #000;
}
/* line 215, ../sass/screen.scss */
.main-nav-c a {
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #d6d6d6;
  font-weight: 300;
}
/* line 220, ../sass/screen.scss */
.main-nav-c a:hover {
  color: #fff;
  font-weight: 600;
}
/* line 226, ../sass/screen.scss */
.main-nav-c .close-btn {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  position: absolute;
  top: 25px;
  right: 25px;
}
/* line 233, ../sass/screen.scss */
.main-nav-c.nav-toggled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  pointer-events: auto;
}

/* line 239, ../sass/screen.scss */
#main-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 248, ../sass/screen.scss */
.inner-c {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
/* line 252, ../sass/screen.scss */
.inner-c h1, .inner-c h2, .inner-c h3, .inner-c .arrow {
  position: absolute;
  left: 25px;
}
/* line 257, ../sass/screen.scss */
.inner-c h1 {
  bottom: 120px;
  font-size: 25px;
}
/* line 262, ../sass/screen.scss */
.inner-c h2 {
  bottom: 100px;
  font-size: 15px;
}
/* line 267, ../sass/screen.scss */
.inner-c h3 {
  cursor: pointer;
  bottom: 50px;
}
/* line 273, ../sass/screen.scss */
.inner-c .slide h3 {
  text-shadow: 1px 0 20px #000;
}
/* line 278, ../sass/screen.scss */
.inner-c .arrow {
  bottom: 52px;
  left: 135px;
}

/* line 286, ../sass/screen.scss */
.section h1, .section h2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 291, ../sass/screen.scss */
.section.active h1 {
  -moz-animation: drop-in 0.8s ease-in-out;
  -webkit-animation: drop-in 0.8s ease-in-out;
  animation: drop-in 0.8s ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
/* line 297, ../sass/screen.scss */
.section.active h2 {
  -moz-animation: drop-in 0.8s ease-in-out;
  -webkit-animation: drop-in 0.8s ease-in-out;
  animation: drop-in 0.8s ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* line 305, ../sass/screen.scss */
.projects-nav {
  position: absolute;
  right: 25px;
  bottom: 45px;
  line-height: 30px;
  pointer-events: auto;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 315, ../sass/screen.scss */
.projects-nav.hide-proj-nav {
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 320, ../sass/screen.scss */
.projects-nav a {
  color: #fff;
}
/* line 324, ../sass/screen.scss */
.projects-nav li {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 327, ../sass/screen.scss */
.projects-nav li.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 332, ../sass/screen.scss */
.projects-nav .projects-nav-title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  cursor: pointer;
  position: absolute;
  right: 30px;
  width: 200px;
  color: #fff;
  text-align: right;
  font-size: 14px;
}
/* line 346, ../sass/screen.scss */
.projects-nav li:nth-child(1):hover .bar {
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  -webkit-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
  width: 900%;
}
/* line 350, ../sass/screen.scss */
.projects-nav li:nth-child(1):hover #pnt-01 {
  -moz-animation: fade-in 1.2s ease-in-out;
  -webkit-animation: fade-in 1.2s ease-in-out;
  animation: fade-in 1.2s ease-in-out;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 359, ../sass/screen.scss */
.projects-nav li:nth-child(2):hover .bar {
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 900%;
}
/* line 363, ../sass/screen.scss */
.projects-nav li:nth-child(2):hover #pnt-02 {
  -moz-animation: fade-in 1.2s ease-in-out;
  -webkit-animation: fade-in 1.2s ease-in-out;
  animation: fade-in 1.2s ease-in-out;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 372, ../sass/screen.scss */
.projects-nav li:nth-child(3):hover .bar {
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 900%;
}
/* line 376, ../sass/screen.scss */
.projects-nav li:nth-child(3):hover #pnt-03 {
  -moz-animation: fade-in 1.2s ease-in-out;
  -webkit-animation: fade-in 1.2s ease-in-out;
  animation: fade-in 1.2s ease-in-out;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 385, ../sass/screen.scss */
.projects-nav li:nth-child(4):hover .bar {
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 900%;
}
/* line 389, ../sass/screen.scss */
.projects-nav li:nth-child(4):hover #pnt-04 {
  -moz-animation: fade-in 1.2s ease-in-out;
  -webkit-animation: fade-in 1.2s ease-in-out;
  animation: fade-in 1.2s ease-in-out;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 398, ../sass/screen.scss */
.projects-nav li:nth-child(5):hover .bar {
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 900%;
}
/* line 402, ../sass/screen.scss */
.projects-nav li:nth-child(5):hover #pnt-05 {
  -moz-animation: fade-in 1.2s ease-in-out;
  -webkit-animation: fade-in 1.2s ease-in-out;
  animation: fade-in 1.2s ease-in-out;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 410, ../sass/screen.scss */
.bar {
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background-color: #fff;
  position: absolute;
  width: 0;
  height: 1px;
  right: 0;
}
/* line 418, ../sass/screen.scss */
.active .bar {
  width: 120%;
}

/* line 424, ../sass/screen.scss */
.hover-overlay {
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  pointer-events: none;
}
/* line 435, ../sass/screen.scss */
.hover-overlay.hover-toggled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 441, ../sass/screen.scss */
#sec-01 {
  background: url("../imgs/project-01.jpg") center center no-repeat;
  background-size: cover;
}
/* line 445, ../sass/screen.scss */
#sec-01 h3 {
  color: #1dcf41;
}
/* line 449, ../sass/screen.scss */
#sec-01 i {
  color: #1dcf41;
}

/* line 455, ../sass/screen.scss */
#sec-02 {
  background: url("../imgs/project-02.jpg") center center no-repeat;
  background-size: cover;
}
/* line 459, ../sass/screen.scss */
#sec-02 h3 {
  color: #ec6b50;
}
/* line 463, ../sass/screen.scss */
#sec-02 i {
  color: #ec6b50;
}

/* line 469, ../sass/screen.scss */
#sec-03 {
  background: url("../imgs/project-03.jpg") center center no-repeat;
  background-size: cover;
}
/* line 473, ../sass/screen.scss */
#sec-03 h3 {
  color: #46b6c1;
}
/* line 477, ../sass/screen.scss */
#sec-03 i {
  color: #46b6c1;
}

/* line 482, ../sass/screen.scss */
.color-shift {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 488, ../sass/screen.scss */
.active .color-shift {
  -moz-animation: color-shift 6s ease-in-out infinite;
  -webkit-animation: color-shift 6s ease-in-out infinite;
  animation: color-shift 6s ease-in-out infinite;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 495, ../sass/screen.scss */
#sec-04 {
  background: url("../imgs/project-04.jpg") center center no-repeat;
  background-size: cover;
}
/* line 499, ../sass/screen.scss */
#sec-04 h3 {
  color: #ffe824;
}
/* line 503, ../sass/screen.scss */
#sec-04 i {
  color: #ffe824;
}

/* line 509, ../sass/screen.scss */
#sec-05 {
  background: url("../imgs/project-05.jpg") center center no-repeat;
  background-size: cover;
}
/* line 513, ../sass/screen.scss */
#sec-05 h3 {
  color: #ffcf5c;
}
/* line 517, ../sass/screen.scss */
#sec-05 i {
  color: #ffcf5c;
}

/* line 523, ../sass/screen.scss */
.proj-page {
  background-color: #fff;
}

/* line 528, ../sass/screen.scss */
.proj-link a {
  color: #818181;
  font-size: 12px;
  text-decoration: underline;
  line-height: 45px;
}
/* line 534, ../sass/screen.scss */
.proj-link a:hover {
  text-decoration: none;
}

/* line 540, ../sass/screen.scss */
.proj-content-c {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 150px 50px 0 50px;
}
/* line 548, ../sass/screen.scss */
.proj-content-c .content-top {
  width: 100%;
  height: auto;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 556, ../sass/screen.scss */
.proj-content-c h4, .proj-content-c h5, .proj-content-c p {
  position: relative;
  color: #818181;
  text-align: left;
  margin-bottom: 5px;
}
/* line 563, ../sass/screen.scss */
.proj-content-c h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
/* line 569, ../sass/screen.scss */
.proj-content-c .content-bottom {
  width: 100%;
}
/* line 572, ../sass/screen.scss */
.proj-content-c .content-bottom .inner-content-bottom-c {
  width: 1100px;
  margin: 0 auto;
}
/* line 576, ../sass/screen.scss */
.proj-content-c .content-bottom .inner-content-bottom-c img {
  width: 100%;
}
/* line 581, ../sass/screen.scss */
.proj-content-c .content-bottom img {
  width: 1100px;
  height: auto;
}

/* line 588, ../sass/screen.scss */
.iframe-c {
  position: relative;
}
/* line 591, ../sass/screen.scss */
.iframe-c iframe {
  position: absolute;
}
/* line 596, ../sass/screen.scss */
.iframe-c.iframe-970x250 iframe {
  top: 138px;
  left: 67px;
}
/* line 603, ../sass/screen.scss */
.iframe-c.iframe-970x125 iframe {
  top: 200px;
  left: 67px;
}
/* line 610, ../sass/screen.scss */
.iframe-c.iframe-728x90 iframe {
  top: 167px;
  left: 187px;
}
/* line 617, ../sass/screen.scss */
.iframe-c.iframe-300x250 iframe {
  bottom: 30px;
  right: 145px;
}

@media (max-width: 1200px) {
  /* line 627, ../sass/screen.scss */
  .content-bottom .iframe-c img {
    display: none;
  }
  /* line 631, ../sass/screen.scss */
  .content-bottom .iframe-c iframe {
    position: relative;
    margin: 0 auto;
    display: block;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
  }

  /* line 642, ../sass/screen.scss */
  .inner-content-bottom-c {
    width: auto !important;
  }
}
@media (max-width: 480px) {
  /* line 650, ../sass/screen.scss */
  .proj-content-c .content-top {
    width: 100%;
  }

  /* line 655, ../sass/screen.scss */
  .footer {
    text-align: center;
  }
}
/* line 665, ../sass/screen.scss */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 675, ../sass/screen.scss */
.portfolio-c {
  position: relative;
  width: 100%;
  height: auto;
  overflow: scroll;
  margin-top: 70px;
}

/* line 684, ../sass/screen.scss */
.portfolio-grid {
  height: 100%;
  width: 100%;
}
/* line 688, ../sass/screen.scss */
.portfolio-grid .grid-item {
  cursor: pointer;
  width: 25%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  overflow: hidden;
}
/* line 700, ../sass/screen.scss */
.portfolio-grid .grid-item:hover .grid-item-overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 705, ../sass/screen.scss */
.portfolio-grid .grid-item img {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 1080px) {
  /* line 713, ../sass/screen.scss */
  .portfolio-grid .grid-item {
    width: 33.3%;
  }
}
@media (max-width: 580px) {
  /* line 719, ../sass/screen.scss */
  .portfolio-grid .grid-item {
    width: 50%;
  }
}
@media (max-width: 480px) {
  /* line 725, ../sass/screen.scss */
  .portfolio-grid .grid-item {
    width: 100%;
  }
}
/* line 730, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 741, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-01 {
  background-color: rgba(0, 42, 53, 0.6);
}
/* line 745, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-02 {
  background-color: rgba(48, 9, 0, 0.7);
}
/* line 749, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-03 {
  background-color: rgba(44, 59, 0, 0.7);
}
/* line 753, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-04 {
  background-color: rgba(0, 43, 50, 0.7);
}
/* line 757, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-05 {
  background-color: rgba(0, 13, 47, 0.7);
}
/* line 765, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-07 {
  background-color: rgba(0, 50, 53, 0.7);
}
/* line 769, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-08 {
  background-color: rgba(66, 24, 0, 0.7);
}
/* line 773, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-09 {
  background-color: rgba(50, 0, 49, 0.7);
}
/* line 777, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-10 {
  background-color: rgba(0, 103, 90, 0.7);
}
/* line 781, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-11 {
  background-color: rgba(94, 0, 41, 0.7);
}
/* line 785, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay.overlay-12 {
  background-color: rgba(108, 4, 0, 0.7);
}
/* line 789, ../sass/screen.scss */
.portfolio-grid .grid-item-overlay img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: auto;
  height: auto;
}
/* line 798, ../sass/screen.scss */
.portfolio-grid .overlay-content-c {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 15px;
  right: 15px;
}
/* line 805, ../sass/screen.scss */
.portfolio-grid .overlay-content-c h1, .portfolio-grid .overlay-content-c h2 {
  color: #fff;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
}
/* line 812, ../sass/screen.scss */
.portfolio-grid .overlay-content-c h2 {
  font-size: 12px;
}

/* line 819, ../sass/screen.scss */
.fp-controlArrow.fp-prev {
  background: url("../imgs/arrow-left.png") no-repeat;
  left: 15px;
  width: 17px;
  height: 55px;
  border-width: 0 !important;
  border-color: none !important;
}

/* line 828, ../sass/screen.scss */
.fp-controlArrow.fp-next {
  background: url("../imgs/arrow-right.png") no-repeat;
  right: 15px;
  width: 17px !important;
  height: 55px;
  border-width: 0 !important;
  border-color: none !important;
}

/* line 838, ../sass/screen.scss */
.project-page-c a {
  color: #818181;
  font-size: 12px;
  text-decoration: underline;
}
/* line 843, ../sass/screen.scss */
.project-page-c a:hover {
  color: #585858;
}

/* line 850, ../sass/screen.scss */
.footer {
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 856, ../sass/screen.scss */
.footer .footer-inner {
  width: 50%;
  position: absolute;
  left: 25px;
}
/* line 862, ../sass/screen.scss */
.footer p {
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 580px) {
  /* line 870, ../sass/screen.scss */
  .footer-inner p {
    font-size: 10px;
  }

  /* line 876, ../sass/screen.scss */
  .social-media .fa {
    font-size: 12px;
  }
}
/* line 884, ../sass/screen.scss */
.social-media {
  width: auto;
  height: auto;
  color: #585858;
  position: absolute;
  right: 25px;
}
/* line 891, ../sass/screen.scss */
.social-media a {
  color: #585858;
}
/* line 895, ../sass/screen.scss */
.social-media li {
  display: inline-block;
  margin-left: 20px;
}
/* line 902, ../sass/screen.scss */
.social-media li:nth-child(1) i:hover {
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #3b5998;
}
/* line 910, ../sass/screen.scss */
.social-media li:nth-child(2) i:hover {
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #fbad50;
}
/* line 918, ../sass/screen.scss */
.social-media li:nth-child(3) i:hover {
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #cb2027;
}
/* line 926, ../sass/screen.scss */
.social-media li:nth-child(4) i:hover {
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #007bb5;
}

/* line 933, ../sass/screen.scss */
.mobile-alert {
  display: none;
}

/* line 938, ../sass/screen.scss */
.iframe-c.not-for-mobile {
  display: block;
}

@media (max-width: 995px) {
  /* line 944, ../sass/screen.scss */
  .mobile-alert {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75;
    display: block;
    background-color: red;
    width: 100%;
    height: 100%;
  }
  /* line 951, ../sass/screen.scss */
  .mobile-alert p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* line 960, ../sass/screen.scss */
  .iframe-c.not-for-mobile {
    display: none;
  }
}
